.bg-img{
    background-image:url("home_bg.png");
    background-size:cover;  
    min-height:900px;
    background-repeat:no-repeat;
    background-position:center;
    }
    .navBar{
         overflow:hidden;
         background-color: #ffff;
         position:fixed;
         top:0;
         width:100%;
    }
    .navBar a.home{
         background-color: #adefd1;
         color:white;
         font-weight:800;
         letter-spacing:5px;
    }
    .navBar a{
        font-weight:800;
        float:left;
        display:block;
        color: #000000;
        text-align:center;
        padding:13px 21px;
        text-decoration:none;
        font-size:17px;
    }
    .navBar-right{
        
        float:right;
    }